In [1]:
for i in range(0,20):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [2]:
for i in range(10,20):
    print(i)

10
11
12
13
14
15
16
17
18
19

In [3]:
a=[1,4,50,34,55]
print("numer of item in the list: ",len(a))

numer of item in the list:  5

In [5]:
a="ARTIFICIAL INTELIGENCE"
print(a)
for i in a:
    print(i)

ARTIFICIAL INTELIGENCE
A
R
T
I
F
I
C
I
A
L

I
N
T
E
L
I
G
E
N
C
E

In [7]:
a=["_your name_","_your age_","_your Profession_"]
for i in a:
    print(i)

_your name_
_your age_
_your Profession_

In [8]:
a=(1,"apple",2,"orange")
print(a)

(1, 'apple', 2, 'orange')

In [16]:
a=(0,1,2,3,4)
b=("apple","orange")
c=(a,b)
print(c)

((0, 1, 2, 3, 4), ('apple', 'orange'))

In [18]:
a=[457,678,234,4,10,1,3]
for i in a:
    if i%2==0:
        print(i,"is even")
    else:
        print(i,"is ODD")

457 is ODD
678 is even
234 is even
4 is even
10 is even
1 is ODD
3 is ODD